<app-acceuil></app-acceuil>
<div class="tablecontainer">
  <table class="table table-borderless"  styleborder="bold">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">nom</th>
        <th scope="col">prénom</th>
        <th scope="col">sexe</th>
        <th scope="col">cin</th>

        <th scope="col">téléphone</th>
        <th scope="col">adresse</th>
        <th scope="col">email</th>

        <th scope="col">nom d'utilisateur</th>
        <th scope="col">mot de passe</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let client of client" >
        <th >{{client.idc}}</th>
        <td>{{client.nom}}</td>
   
        <td >{{client.prenom}}</td>
        <td >{{client.sexe}}</td>
        <td>{{client.cin}}</td>

        <td >{{client.tel}}</td>
        <td >{{client.adresse}}</td>
        <td>{{client.email}}</td>
   
        <td >{{client.username}}</td>
        <td >{{client.password}}</td>
       

        <td>  
        
          <div class="card-body action-buttons">
            <button class="update-button"   [routerLink]="['/update' , client.idc]">
              <i class="update-icon"></i> 
            </button>
            <button class="delete-button" (click)="deleteclient(client.idc)">
              <i class="delete-icon"></i> 
            </button>
          </div>
      
        
     
      
      </td>
      </tr>
   
      
    
    </tbody>
  </table>

</div>