<app-acceuil></app-acceuil>
<form class="credit-card">
    <div class="form-header">
      <h4 class="title">Demande chéque</h4>
    </div>
  
    <div class="form-body">
     
     <label>Rib</label> <input type="text" class="card-number" placeholder="RIB">
  
     <label>nombre chéquiers</label> <input type="number" class="card-number" placeholder="nombre chéquiers">

     <label>nombre chéques</label> <input type="number" class="card-number" placeholder="nombre chéques">

     <input class="btn btn-primary" type="submit" value="Submit" (click)="ajoutdemandechequier()">

    </div>
  </form>
